@tailwind base;
@tailwind components;
@tailwind utilities;

.mini-logo-title {
  font-size: 10px;
}
.logo-title {
  letter-spacing: 0.8rem;
}
.month-title {
  font-size: 8px;
}
.footer-text {
  font-size: 10px;
}

.input-item {
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 640px) {
  .input-item {
    margin-bottom: 0.1rem;
  }
}

.text-xxs {
  font-size: 0.5rem;
}

@media print {
  .no-print {
    display: none;
  }

  .item-container {
    page-break-inside: avoid;
    padding-right: 2.5rem !important;
    padding-bottom: 1rem !important;
  }

  .screen-container {
    padding-left: 2rem !important;
  }
}

.signin-bg {
  background-color: #291e1edf;
}

.signin-logo-title {
  letter-spacing: 0.6rem;
}

.signin-mini-logo-title {
  font-size: 8px;
}
