@tailwind base;
@tailwind components;
@tailwind utilities;

.mini-logo-title {
  font-size: 10px;
}
.logo-title {
  letter-spacing: 0.8rem;
}
.month-title {
  font-size: 8px;
}
.footer-text {
  font-size: 10px;
}
