@import "tailwindcss";

.mini-logo-title {
  font-size: 10px;
}
.logo-title {
  letter-spacing: 0.8rem;
}
.month-title {
  font-size: 8px;
}
.footer-text {
  font-size: 10px;
}

.input-item {
  height: 36px;
}

.share-item {
  height: 36px;
}

.input-item-first {
  height: 27px !important;
}

@media screen and (min-width: 640px) {
  .input-item {
    height: 27px;
  }

  .share-item {
    height: 27px;
  }

  .input-item-first {
    height: 22px !important;
  }
}

.text-xxs {
  font-size: 0.5rem;
}

@media print {
  @page {
    size: landscape;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }

  .no-print {
    display: none;
  }

  .item-container {
    page-break-inside: avoid;
    padding-right: 2.5rem !important;
    padding-bottom: 2rem !important;
  }

  .screen-container {
    padding-left: 2rem !important;
  }

  .input-item {
    height: 27px !important;
  }

  .share-item {
    height: 27px;
  }
}

.signin-bg {
  background-color: #291e1edf;
}

.signin-logo-title {
  letter-spacing: 0.6rem;
}

.signin-mini-logo-title {
  font-size: 8px;
}

.setting-button {
  padding: 0.2rem 0.5rem;

  @media screen and (min-width: 767px) {
    padding: 0.25rem 0.5rem;
  }
}
